<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Attribute.Interop.Yggdrasil.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Attribute.Interop.Yggdrasil.Properties.Settings>
      <setting name="YggdrasilAuthServer" serializeAs="String">
        <value>https://authserver.mojang.com</value>
      </setting>
      <setting name="AuthenticateEndpoint" serializeAs="String">
        <value>/authenticate</value>
      </setting>
      <setting name="RefreshEndpoint" serializeAs="String">
        <value>/refresh</value>
      </setting>
      <setting name="ValidateEndpoint" serializeAs="String">
        <value>/validate</value>
      </setting>
      <setting name="SignoutEndpoint" serializeAs="String">
        <value>/signout</value>
      </setting>
      <setting name="InvalidateEndpoint" serializeAs="String">
        <value>/invalidate</value>
      </setting>
      <setting name="YggdrasilRequestMethod" serializeAs="String">
        <value>POST</value>
      </setting>
      <setting name="YggdrasilRequestContentType" serializeAs="String">
        <value>application/json</value>
      </setting>
    </Attribute.Interop.Yggdrasil.Properties.Settings>
  </applicationSettings>
</configuration>